#.parcel-cache/
#node_modules/
archive/
#dist/
dist-dev/
data/

# OS cruft
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Parcel build output
dist/
.parcel-cache/

# Logs
*.log
logs/

# IDE files
.vscode/
.idea/

# Never accidentally track gh-pages locally
gh-pages/

#personal
README_TO_RESUME.md
D3_experiment.code-workspace
todo.js
personal/
personal/*
!personal/README.md #allow llacefolder file
docs/

#docker
docker-compose.yml
Dockerfile
.dockerignore

# Do not allow local gh-pages branch to appear
.git/refs/heads/gh-pages