body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0; 
    overflow: hidden;
}

svg {
    background-color: #f3f3f3;
    width: 100vw; 
    height: 100vh; 
    display: block; 
    margin: auto;
}

.label {
    pointer-events: none;  /* Prevent selection or interaction */
    user-select: none;  /* Prevent text selection */
    font-size: 10px;
    fill: rgba(0,0,0,0.2)
}
.id-label, .coord-label, .graph-label {
    font-size: 7px;
    opacity: 0.5;
    text-anchor: middle;
}
input:disabled+label { opacity: 0.4;}
div, .force-arrows, .node-relations, .coord-label, .id-label, .hotspot-group {
  transition: opacity 0.5s ease; /* Adjust duration and easing as needed */
}
.hidden {
  opacity: 0 !important;
  pointer-events: none; 
  user-select: none;
}
.node-circle.hidden {
  pointer-events: initial !important; 
  user-select: initial !important;
}
.highlight-circle {
  stroke-dasharray: 12 6;
  stroke-width: 5px;
  stroke: black;
}
.haloSpin { animation: spinDash 4s linear infinite; } @keyframes spinDash { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.remove-btn{
  border:none;
  background:#aaa;
  color:#fff;
  font-weight:bold;
  border-radius:50%;
  width:1.4em; height:1.4em;
  cursor:pointer;
  line-height:1.4em;
  padding:0;
  font-size: 0.7em;
  margin: 0px;
}
.remove-btn:hover{ background:#d22; }

.ui-panel {
    text-align: left;
    font-size: 10px;
    width: 140px;
    position: absolute;
    z-index: 9999;
}
.ui-panel-box{
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.ui-panel-top { top: 15px;}
.ui-panel-left { left: 15px;}
.ui-panel-bottom { bottom: 15px;}
.ui-panel-right { right: 15px;}
#detail-panel { height: 200px;}
#metrics-panel { min-width: 350px;}
.ui-panel input[type="checkbox"]:checked + span { font-weight: bold; }
span.todo { opacity: 0.5; }
span.todo::after { content: " (todo)"; }
.ui-panel input{
    height: 10px;
    width: 10px;
}
.force-arrow { filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4)); }
#logContainer > div {
  background: rgba(0,0,0,0.9);
  float: left;
  clear: both;
  margin-bottom: 5px;
}
#logContainer:hover > div {opacity: 1 !important;}
#logContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  overflow-y: auto;
  max-height: 50vh;
  z-index: 8888;
  text-align: left;
}
button { margin-bottom: 5px;}
.button-container {
  display: flex;
  font-size: 14px;
  transition: scale 0.2s ease-in-out;
  scale: 1;
}
#debug-panel button {
    min-width: 80%;
    font-size: 10px;  
    display: block;
}
#debug-panel label { display: block; }
.drag-icon {
  margin-left: 8px;
  color: #aaa;
  cursor: grab;
  user-select: none; /* Prevent text selection */
}
.drag-icon:hover{
  color: #000;
}
.dragging { opacity: 0.3; scale: 1.1;}
.highlight {
  /* border-top: 2px dashed #0077ff; */
  padding-top: 10px;
}
.drag-icon:active {
  cursor: grabbing;
}
#spawnButtonContainer button {
  float: left;
  clear: both;
}
/* #removeAllButton { margin-top: 10px;} */
.spawn-panel>div:nth-child(n+3) {padding-top: 15px;}
.ui-panel hr {
  border: 0;
  border-top: 1px rgba(0,0,0,0.4) solid;
  margin: 15px 5px 15px 5px;
}
.ui-panel h2{
  font-size: 12px;
  font-weight: normal;
  margin-top: 0;
}
.node-relation-hover line { stroke-width: 10px !important; }
.node-relation { transition: all 0.5s ease-in-out; }
/* .wind-layer > g {opacity: 0.2;} */
/* .wind-layer-stress > g, .wind-layer-cancel > g {  transition: all ease-in-out 0.2s;} */

/* #background-layer, #background-layer > pattern {x: -50vw; y: -50vh; width: 100vw; height:100vh; fill: blue;} */
/* #background-bottom {fill: url('./img/background-bottom-base.png');}
#background-top-uphill {fill: url('./img/background-top-uphill.jpg');}
#backgroundTopDownhill {fill: url('./img/background-top-downhill.jpg');} */

table.metrics {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: .5rem;
}

table.metrics th,
table.metrics td {
  /* border: 1px solid black; */
  padding: 3px;
  text-align: right;
}

table.metrics tr:nth-child(even) {
  background: #f3f3f3;
}

table.metrics thead {
  position: sticky;
  top: 0;
  background: #ddd;
}

.metrics th:nth-child(1) {
  width: 120px;
}

.metrics th:nth-child(n+2) {
  width: 30px;
}
.metrics tr:hover {
  background: #ffffaa !important;
}

.metrics tfoot tr:first-child {
  border-top: 2px solid;
}
.metrics .name { pointer-events: none;}

image.node-icon {
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.4));
}